@import "tailwindcss";

@theme {
  --color-base-100: oklch(98% 0.026 102.212);
  --color-base-200: oklch(98% 0.003 247.858);
  --color-base-300: oklch(21% 0.006 56.043);
  --color-base-content: oklch(39% 0.09 240.876);
  --color-primary: oklch(80% 0.114 19.571);
  --color-primary-content: oklch(25% 0.092 26.042);
  --color-secondary: oklch(86% 0.127 207.078);
  --color-secondary-content: oklch(30% 0.056 229.695);
  --color-accent: oklch(82% 0.12 346.018);
  --color-accent-content: oklch(28% 0.109 3.907);
  --color-neutral: oklch(21% 0.034 264.665);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(0.866 0.0194 157.81);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}